body{
    background: #ffffff;
    background: linear-gradient(45deg,orange , orangered );
    height: 100vh;
}

.fondo{
    position: relative;
    height: 100vh;
}
.contenido{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.linea_izquierda{
    background-color: aliceblue;
    height: 20rem;
    width:20px;
    margin-top:5rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.linea_derecha{
    background-color: aliceblue;
    height: 20rem;
    width:20px;
    margin-top:5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.bloque{
    background-color: #212529;
    color: aliceblue;
    border-radius: 20px;
    height: 30rem;
    width: 20rem;
}
.arriba{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height:10rem;
}
.imagen{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px none #ffffff;
    width: 100%;
    height:10rem;
}
.abajo{
    padding:2vh;
    text-align: center;
}
.registrarse{
    margin-left:2vh;
}
.registrar {
    padding:2vh;
}

.ventana{
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 2vh;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
